<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">iPad Remote on %h</name>
  <service>
    <type>_ipadremote._udp</type>
    <port>5005</port>
    <txt-record>version=1</txt-record>
  </service>
</service-group>
